$primary: #0054A7;
// 应用：产品分类1
$primary2: #5E93C7;
$white: #fff;
$bg: #f3f3f3;
$bg2: #4B4B4B;
// 昊星理念
$bg6: #000623;

// 背景色
$bg3: #e9e9e9;
// 联系我们输入框
$bg4: #F5F5F7;
// 产品轮播
$bg5: #EEEEEE;
// 解决方案渐变颜色
$bg7: #0054A7;

// 轮播高度
$bannerHeight: 40vw;
$bannerHeigh2: 30vw;

// 字体颜色
$fontColor1: #C0C0C0;
$fontColor2: #ABABAB;
$fontColor3: #686868;


// 字体大小
$fontTitle1: 30px;
$fontTitle2: 24px;

// 间距
// 首页轮播左右间距
$homePadding: 160px;
$spacing2: 300px;
// xs\xm padding
$spacing3: 80px;

$homePaddingForMobile: 40px;
